# Xcode
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/test_output/

# Misc
.DS_Store
